<form method="post" action="/links">
    <input type="text" id="title" name="title" />
    <input type="text" id="url" name="url" />
    <div class="button">
        <button type="submit">Save</button>
    </div>
</form>
